.slider-container {
  display: flex;
  flex-direction: column;
}

.menu-container nav {
  display: flex;
  width: 70vw;

  margin-left: 2rem;
}
.logdUser {
  cursor: pointer;
}
.logdUser a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.services-list li img {
  display: flex;
}
.projects-list {
  display: block;
}
.projects-list li a img {
  display: block;
}

.re-preload > .image-wrapper > img {
  display: flex;
}
.leaflet-container {
  z-index: 2;
}
.column-1-2 a img {
  display: flex;
}
.column img {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.edit-button {
  background-color: #4caf50; /* Green */
  color: white;
}

.edit-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.delete-button {
  background-color: #ff4d4d; /* Red */
  color: white;
}

.delete-button:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}
.update-button {
  background-color: orange;
  color: white;
}
.update-button:hover {
  background-color: rgb(155, 102, 4);
  transform: scale(1.05);
}
.parentButtonNewProject {
  display: flex;

  justify-content: center;
}
.containerDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.containerDelete svg {
  color: #ff4d4d;
  cursor: pointer;
  font-size: 2rem;
}
.containerDelete svg:hover {
  color: #ff1a1a;
}
.calculatorButtons {
  display: flex;
  gap: 1rem;
  align-items: end;
  width: 40%;
  height: 4rem;
}
.calculatorButtons span {
  background-color: rgba(0, 0, 0, 0.352);
  padding: 1rem;
  cursor: pointer;
  color: black;
  border-radius: 0.5rem;
}
.calculatorButtons span:hover {
  color: white;
}
